<div [ngClass]="parentClass" class="group">
  <div [ngClass]="child" *ngFor="let child of children; let i = index">
    <div class="card" *ngIf="!child.includes('nocard')">
      <ng-container *ngIf="children.length == 1">
        <ng-content></ng-content>
      </ng-container>
      <ng-container *ngIf="i + 1 == 1">
        <ng-content select="[slot=1]"></ng-content>
      </ng-container>
      <ng-container *ngIf="i + 1 == 2">
        <ng-content select="[slot=2]"></ng-content>
      </ng-container>
      <ng-container *ngIf="i + 1 == 3">
        <ng-content select="[slot=3]"></ng-content>
      </ng-container>
    </div>
    <ng-content select="[slot=4]"></ng-content>
  </div>
</div>
