<card-navbar [title]="'Orders'">
  <div class="input-field">
    <i
      class="material-icons prefix"
      (click)="loadQuote(quoteId.value)"
      *ngIf="!tracking"
    >
      search
    </i>
    <i
      class="material-icons prefix"
      (click)="quoteId.value = ''; closeQuote()"
      *ngIf="tracking"
    >
      close
    </i>
    <input
      id="icon_prefix"
      type="text"
      class="validate"
      maxlength="15"
      #quoteId
      placeholder="Lane Id"
      [disabled]="tracking"
    />
  </div>

  <select-dropdown
    [dataList]="[
      { key: 'customer', value: 'Customers' },
      { key: 'carrier', value: 'Carriers' }
    ]"
    [dataKeys]="{ key: 'key', value: 'value' }"
    [selectedValue]="activeType"
    [disabled]="tracking"
    width="115px"
    (onSelectionChange)="onTypeChange($event)"
  >
  </select-dropdown>
</card-navbar>
<div class="content" [class.heatmap-no-legend]="tracking">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [style]="chartStyle"
    (chartInstance)="chartInstance($event)"
  >
  </highcharts-chart>
  <p class="path" *ngIf="tracking">
    <ng-container *ngFor="let p of path; let i = index">
      <span
        class="key"
        (mouseenter)="highlightRoute(p, true)"
        (mouseout)="highlightRoute(p, false)"
        >{{ p?.key }}</span
      >
      <span class="icon material-symbols-outlined" *ngIf="i != path.length - 1">
        trending_flat
      </span>
    </ng-container>
  </p>
</div>
