<card-navbar [title]="tracking ? 'Order' : 'Origin'">
  <div class="input-field">
    <i
      class="material-icons prefix"
      (click)="loadQuote(quoteId.value)"
      *ngIf="!tracking"
    >
      search
    </i>
    <i
      class="material-icons prefix"
      (click)="quoteId.value = ''; closeQuote()"
      *ngIf="tracking"
    >
      close
    </i>
    <input
      id="icon_prefix"
      type="text"
      class="validate"
      maxlength="7"
      #quoteId
      placeholder="Quote Id"
      [disabled]="tracking"
    />
  </div>

  <select-dropdown
    [dataList]="[
      { key: 'customer', value: 'Customers' },
      { key: 'carrier', value: 'Carriers' }
    ]"
    [dataKeys]="{ key: 'key', value: 'value' }"
    [selectedValue]="activeType"
    width="115px"
    (onSelectionChange)="onTypeChange($event)"
  >
  </select-dropdown>
</card-navbar>
<div class="content" [class.heatmap-no-legend]="tracking">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [style]="chartStyle"
    (chartInstance)="chartInstance($event)"
  >
  </highcharts-chart>
</div>
