<p class="heading">
  <span class="title">{{ title }}</span>
  <span class="controls">
    <select-dropdown
      *ngIf="activePeriod"
      [dataList]="periodsList"
      [selectedValue]="activePeriod"
      (onSelectionChange)="selectTimePeriod($event)"
    ></select-dropdown>
    <span class="view" *ngIf="typesList?.length">
      <ng-container *ngFor="let type of typesList; let i = index">
        <mat-divider
          [vertical]="true"
          *ngIf="i != 0 && i != typesList.length - 1"
        ></mat-divider>
        <span
          class="icon material-symbols-outlined"
          [class.active]="activeType == type.key"
          (click)="selectType(type.key)"
        >
          {{ type?.icon }}
        </span>
        <mat-divider
          [vertical]="true"
          *ngIf="i != 0 && i != typesList.length - 1"
        ></mat-divider>
      </ng-container>
    </span>
  </span>
</p>
