.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  padding-bottom: 15px;
}
.heading .title {
  font-size: 18px;
  opacity: 0.9;
}
.controls {
  display: flex;
  align-items: center;
}

.controls .view {
  display: flex;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #f1f2f6;
  overflow: hidden;
}
.view .icon {
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.icon.active {
  pointer-events: none;
  background-color: #f64e60;
  color: white;
}

.icon:not(.active):hover {
  color: rgba(246, 78, 96, 0.8);
}
