<p class="heading">
  <span class="title">{{ title }}</span>
  <span class="controls">
    <select-dropdown
      *ngIf="activePeriod"
      [dataList]="periodsList"
      [selectedValue]="activePeriod"
      (onSelectionChange)="selectIcon($event)"
    ></select-dropdown>
    <span class="view" *ngIf="iconsArr?.length">
      <ng-container *ngFor="let icon of iconsArr; let i = index">
        <span
          class="icon material-symbols-outlined"
          [class.active]="activeIcon == icon"
          (click)="selectIcon(icon)"
        >
          {{ iconsObj[icon] }}
        </span>
        <mat-divider
          [vertical]="true"
          *ngIf="i != 0 && i != iconsArr.length - 1"
        ></mat-divider>
      </ng-container>
    </span>
  </span>
</p>
