.entry {
  padding: 10px 20px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.7px);
  -webkit-backdrop-filter: blur(10.7px);
  border: 1px solid rgb(242, 233, 233);
  transition: 0.5s ease-in-out;
  cursor: default;
}
.entry:hover {
  border: 1px solid #e4dfdf;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in-out;
}
.entry h4 {
  font-size: 16px;
  color: #494949;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.entry .smaller {
  font-size: 12px;
  color: #848484;
  margin-right: 20px;
}
.entry .progress {
  width: 90%;
  margin: 0 auto;
}
.entry .helper-text {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.helper-text span {
  color: #848484;
  margin-top: 10px;
  font-size: 12px;
}
.entry p {
  border: 1px solid white;
}
.entry p span {
  margin-left: 5px;
  font-size: 12px;
}

.highlight {
  background: #f4f1f1;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #848484 !important;
  width: 100%;
  margin-left: -10px;
  padding-left: 10px;
}
