<div class="container-fluid">
  <h1 class="title">Dashboard</h1>

  <!-- summary cards  -->
  <app-summary></app-summary>

  <!-- revenue  -->
  <structure>
    <app-revenue></app-revenue>
  </structure>

  <!-- pipeline & quote status  -->
  <structure childClass="col m6|col m6">
    <app-pipeline slot="1"></app-pipeline>
    <quote-status slot="2"></quote-status>
  </structure>

  <!-- heatmap  -->

  <div
    class="row"
    [ngStyle]="{ display: summaryState != 'order' ? 'flex' : '' }"
  >
    <div class="col m8">
      <div class="card">
        <heatmap></heatmap>
      </div>
    </div>
    <div class="col m4">
      <div class="card" *ngIf="summaryState == 'summary'">
        <company-summary></company-summary>
      </div>
      <order-route *ngIf="summaryState == 'order'"></order-route>
    </div>
  </div>
</div>
