<div class="container-fluid">
  <h1 class="title">Dashboard</h1>

  <!-- summary cards  -->
  <app-summary></app-summary>

  <!-- revenue  -->
  <div class="row" *ngIf="false">
    <div class="col m12">
      <div class="card">
        <app-revenue></app-revenue>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col m6">
      <div class="card">
        <app-pipeline></app-pipeline>
      </div>
    </div>
    <div class="col m6">
      <div class="card">
        <quote-status></quote-status>
      </div>
    </div>
  </div>
</div>
