.summary {
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.entry * {
  color: #72777a;
}

.entry .heading {
  margin: 0;
  padding-bottom: 5px;
  font-size: 18px;
}

.entry .subheading {
  margin: 0;
  padding-bottom: 5px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.entry .progress {
  width: 100%;
  background-color: rgb(234, 238, 243);
  height: 5px;
  border-radius: 5px;
}
.progress .progress-bar {
  width: 70%;
  height: 100%;
  background-color: teal;
}
