<div class="row">
  <div class="col m3">
    <div class="card">
      <card-navbar title="Revenue"></card-navbar>
    </div>
  </div>
  <div class="col m3">
    <div class="card">
      <card-navbar title="Profits"></card-navbar>
    </div>
  </div>
  <div class="col m3">
    <div class="card">
      <card-navbar title="Gross Margins"></card-navbar>
    </div>
  </div>
  <div class="col m3">
    <div class="card">
      <card-navbar title="Shipment Count"></card-navbar>
    </div>
  </div>
</div>

<div class="row group-1">
  <div class="col m8">
    <div class="card">
      <app-revenue></app-revenue>
    </div>
  </div>
  <div class="col m4">
    <div class="card"></div>
  </div>
</div>
<div class="row">
  <div class="col m6">
    <div class="card">
      <app-pipeline></app-pipeline>
    </div>
  </div>
  <div class="col m6">
    <div class="card">
      <quote-status></quote-status>
    </div>
  </div>
</div>
