.content {
  width: 100%;
  /* padding: 5px 30px 25px 30px; */
}
.content img {
  width: 100%;
}

/* average period  */
#input-field {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 20px;
  display: block;
  margin: 0px auto;
  padding: 0px 15px;
  text-align: center;
  background-color: #ecf0f1;
  color: #2c3e50;
  font-family: Roboto;
  font-size: 16px;
}
#input-field:focus {
  box-shadow: none;
}
.period-controls {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border-radius: 16px;
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.period-controls label {
  display: block;
  text-align: center;
  margin: 5px;
  letter-spacing: 1px;
}
.period-controls div {
  display: flex;
  justify-content: space-around;
}
