.content {
  width: 100%;
  position: relative;
}
.content img {
  width: 100%;
}

/* average period  */
#input-field {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 20px;
  display: block;
  margin: 0px auto;
  padding: 0px 15px;
  text-align: center;
  background-color: #ecf0f1;
  color: #2c3e50;
  font-family: Roboto;
  font-size: 16px;
}
#input-field:focus {
  box-shadow: none;
}
.period-controls {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border-radius: 16px;
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.period-controls label {
  display: block;
  text-align: center;
  margin: 5px;
  letter-spacing: 1px;
}
.period-controls div {
  display: flex;
  justify-content: space-around;
}

.color-punch {
  width: 15px;
  height: 15px;
  background-color: #efcac2;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
}

.revenue label .lever,
.revenue label input[type="checkbox"]:checked + .lever,
.revenue label input[type="checkbox"]:checked + .lever:after {
  background-color: #cfddea;
}

.expense label .lever,
.expense label input[type="checkbox"]:checked + .lever,
.expense label input[type="checkbox"]:checked + .lever:after {
  background-color: #efcac2;
}

.goto {
  height: 40px;
  width: 40px;
  padding-top: 3px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  margin-right: 10px;
  position: absolute;
  top: -50px;
  left: 10px;
}

.goto:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
mat-form-field {
  visibility: hidden;
}

.goto a {
  position: absolute;
  background-color: white;
}
.goto a i {
  color: #848484;
}
