<card-navbar
  title="Revenue vs Expense"
  [periods]="chartPeriods"
  [types]="chartTypes"
  [activeType]="chartType"
  [activePeriod]="chartPeriod"
  (changePeriod)="onPeriodChange($event)"
  (changeType)="onChartChange($event)"
>
  <ng-container *ngTemplateOutlet="periodControls"></ng-container>
</card-navbar>
<div class="content">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [style]="chartStyle"
    (chartInstance)="chartInstance($event)"
  ></highcharts-chart>
  <div class="goto">
    <a mat-raised-button class="btn-floating" (click)="picker.open()">
      <i class="material-icons">search</i>
    </a>
    <mat-form-field appearance="fill">
      <input
        matInput
        [matDatepicker]="picker"
        [min]="date('min')"
        [max]="date('max')"
        [value]="date('value')"
        (dateChange)="goToDate($event.value)"
      />
      <mat-datepicker (opened)="picker.select(null)" #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<!-- period controls  -->
<ng-template #periodControls>
  <div
    class="period-controls"
    *ngFor="let option of averagesList; let i = index"
  >
    <!-- <span class="color-punch" [style.backgroundColor]="option.color"></span> -->
    <label>{{ option?.title }}</label>
    <div>
      <input
        type="text"
        id="input-field"
        [(ngModel)]="option.period"
        [disabled]="option.checked"
      />
      <div class="switch {{ option.src }}">
        <label>
          <input
            type="checkbox"
            [checked]="option.checked"
            (change)="toggleAverages(option, i)"
          />
          <span class="lever revenue"> </span>
        </label>
      </div>
    </div>
  </div>
</ng-template>
