<card-navbar
  title="Revenue vs Expense"
  [periods]="chartPeriods"
  [types]="chartTypes"
  [activeType]="chartType"
  [activePeriod]="chartPeriod"
  (changePeriod)="onPeriodChange($event)"
  (changeType)="onChartChange($event)"
>
  <ng-container *ngTemplateOutlet="periodControls"></ng-container>
</card-navbar>
<div class="content">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [style]="chartStyle"
    (chartInstance)="chartInstance($event)"
  ></highcharts-chart>
</div>

<!-- period controls  -->
<ng-template #periodControls>
  <div
    class="period-controls"
    *ngFor="let option of averagesList; let i = index"
  >
    <label>{{ option?.title }}</label>
    <div>
      <input
        type="text"
        id="input-field"
        [(ngModel)]="option.period"
        [disabled]="option.checked"
      />
      <div class="switch">
        <label>
          <input
            type="checkbox"
            [checked]="option.checked"
            (change)="toggleAverages(option, i)"
          />
          <span class="lever"> </span>
        </label>
      </div>
    </div>
  </div>
</ng-template>
